*{
	margin:0;
	padding: 0;
	
}
body{
	line-height: 2;
}
img{
	width:200px;
	height:200px;
}
p{
	text-indent: 2em;
}
a{
	text-decoration:none;
}
.header{
	height:60px;
	background-color:#2d2a2a;
	clear: both;	
}
.header img{
	width:100px;
	height: 60px;
	background: gray;
}
.header ul{
	display:inline;
}
.header li{
	float:right;
	margin:15px 30px 0 0;
}
.header a{
	color:white;
	font-weight: bolder;
}
.main{
	background-color:#c3bebe;
	height:2400px;
}
.one{
	padding:20px;
	width:65%;
	float:left;
	
}
.content1,.content2,.content3,.content4{
	margin-bottom: 20px;
	background-color: white;
}
h2{
	font-size: 24px;

}
.fu{
	display: block;
	font-size: 18px;
	color: gray;
}
.content2 li{
	list-style: none;
	margin-left:10px;
}
.content3{
	height:520px;
}
.content3 img{
	width:150px;
	height:150px;
	clear: both;
}
.tu{
	display: inline;
	width:150px;
	float: left;
	margin:10px 10px;
	text-align: center;
	border:1px solid #c8b5b5;
	padding: 10px;
}
.content4{
	padding-bottom: 20px;
}
.content4 li{
	margin-left:40px;
}
.content4 p{
	text-indent:0;
}
.content4 table{
	width:100%;
}
.content4 th{
	background-color:#2a2727;
	color:white;
	text-align: left;
}
.yi,.er{
	width:40%;
}
.san{
	background-color:#c3bebe;
}
.two{
	background-color: white;
	display:inline;
	margin:20px 20px;
	float: left;
	width:380px;
	height:500px;
}
.zhuti{
	width:310px;
	margin:20px auto;	
}
.zhuti h2{
	font-size: 20px;
}
.content5,.content6,.content7,.content8,.content9,.content10,.content11
{
	margin-right:10px;
}
.content8,.content9,.content10{
	margin-left:80px;
}
.kuang{
	color:gray;
	font-size: 12px;
	margin-left:110px;
}
.content6{
	margin-left:30px;
}
.content11{
	margin-left:50px;
}
.wenben{
	width:200px;
	height:100px;
	margin:-25px 0 0 125px;
}
.foot{
	width:380px;
}
.button{
	display:block;
	width:340px;
	height:40px;
	margin:0 auto;
	background-color: #0f88eb;
	border:1px solid #0f88eb;
	cursor: pointer;
	text-align: center;
	color:white;
	border-radius:10px;
	font-size: 18px;
	letter-spacing: 8px;
}
.footer{
	background-color:black;
	color:white;
	font-size:20px;
	text-align: center;
}